@inject NavigationManager _navigationManager;

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>

    <NotFound>
        <PageTitle>Oupss... Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="not-found-container row">
                <div class="row not-found-message">
                    <h1>The page that you're looking for, can't be found</h1>
                </div>

                <div class="row not-found-button-container">
                    <button type="button" class="btn not-found-button" onclick="@OnGoHomeClick">Bring me back Home</button>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>

@code {
    void OnGoHomeClick()
    {
        _navigationManager.NavigateTo("Dashboard");
    }
}
