@page "/Dashboard"
@using DatingApp.FrontEnd.Gateway.DotNetGateway

@attribute [Authorize]

@inject GatewayAdapter gtwAdapter;

<div class="member-cards-gallery">
    @*Spinner*@
    @if (isShowSpinner)
    {
        <div class="spinner-div">
            <BSSpinner id="spinner" Class="spinner" Color="BSColor.Warning" Size="Size.ExtraLarge" />
        </div>
    }

    @foreach (var member in Members)
    {
        <div>
            <div class="col-lg-1 card-div member-card @(GetCurrentIndex(member) == 1 ? "innactive-card-first" : "") @(GetCurrentIndex(member) == 2 ? "innactive-card-second" : "")">
                <div class="row member-photo">

                    <div class="row member-details">
                        <div class="row member-name">
                            <h2>@member.FirstName&nbsp;@member.LastName</h2>
                        </div>

                        <div class="row member-age">
                            <h4>@member.Age&nbsp;y.&nbsp;o.</h4>
                        </div>

                        <div class="row member-interests">
                            <p class="interests-text">@member.Interests</p>
                        </div>
                    </div>

                    <div class="member-actions">
                        <i class="far fa-heart fa-2x action-success-icon @(GetCurrentIndex(member) > 0 ? "hidden-member-actions" : "")" @onclick="() => OnLikeClick(member)"></i>
                        <i class="fas fa-heart-broken fa-2x action-danger-icon @(GetCurrentIndex(member) > 0 ? "hidden-member-actions" : "")" @onclick="() => OnDislikeClick(member)"></i>
                        <i class="far fa-folder-open fa-2x action-icon @(GetCurrentIndex(member) > 0 ? "hidden-member-actions" : "")" @onclick="() => OnMoreInfoClick()"></i>
                        <i class="far fa-paper-plane fa-2x action-icon @(GetCurrentIndex(member) > 0 ? "hidden-member-actions" : "")" @onclick="() => OnChatClick()"></i>
                    </div>
                </div>
            </div>
        </div>
    }

    @*No suggested members*@
    @if (!isShowSpinner && Members.Count == 0)
    {
        <div class="col-lg-1 card-div member-card">
            <div class="row no-members-img-container">
                <i class="fa-solid fa-ban fa-10x no-member-image"></i>
            </div>

            <div class="row no-members-msg-container">
                <h4>Sorry, currently there are no matches for you <i class="fa-regular fa-face-frown-open"></i></h4>
                <p>Try to come back later!</p>
            </div>
        </div>
    }
</div>

@code {
    private int skip = 0;
    private int take = 10;

    public List<Member> Members { get; private set; } = new List<Member>();
    public bool isShowSpinner;

    protected override async Task OnInitializedAsync()
    {
        isShowSpinner = true;

        var result  = await gtwAdapter.GetAllMembersAsync(skip, take);
        Members = result.ToList();

        isShowSpinner = false;
    }

    public async Task OnLikeClick(Member member)
    {
        var likedUserId = await gtwAdapter.LikeUserAsync(member.Id);

        if (likedUserId > 0)
        {
            Members = Members.Where(m => m.Id != member.Id).ToList();
        }

        if (Members.Count == 1)
        {
            await GetNextSuggestedMembers();
        }
    }

    public async Task OnDislikeClick(Member member)
    {
        await gtwAdapter.DislikeUserAsync(member.Id);

        // Drop member from the list at any case,
        // since user do not want to see them
        Members = Members.Where(m => m.Id != member.Id).ToList();

        if (Members.Count == 1)
        {
            await GetNextSuggestedMembers();
        }
    }

    public void OnChatClick()
    {
        // TODO: Redirect to the chat page
    }

    public void OnMoreInfoClick()
    {
        // TODO: Redirect to the member info page
    }

    public int GetCurrentIndex(Member member)
    {
        return Members.IndexOf(member);
    }

    private async Task GetNextSuggestedMembers()
    {
        skip = take;
        take += take;

        isShowSpinner = true;

        var result  = await gtwAdapter.GetAllMembersAsync(skip, take);
        Members.AddRange(result.ToList());

        isShowSpinner = false;
    }
}
